
 .parent{
   width:1440px;
   height:600px;
   background:hsl(212,45%,89%);
   position:relative;
    
}
  .parent .child{
 
 width: 200px;
 height:300px;
 border-radius: 8px;
 background:hsl(0,0%,100%);
 position:relative;
 left:50%;
 top:50%;
 transform: translate(-50%,-50%);
}
h2{
 font-family: Outfit;
 font-size: 20px;
 font-weight:700;
 position: relative;
}

p{
 font-family: Outfit;
 font-size:15px;
 font-weight:400;
 position: relative;
}

  img {
  border-radius: 8px;
  width: 180px;
  height: 180px;
  position:relative;
  left: 50%;
  top:10%;
  transform: translate(-50%,10%);
   
   
}
