
 .parent{
   width:1440px;
   height:700px;
   background:hsl(212,45%,89%);
   position:relative;
    
}
  .parent .child{
 
 width: 200px;
 height:400px;
 border-radius: 8px;
 background:hsl(0,0%,100%);
 position:absolute;
 left:0;
 top:0;
 right:0;
 margin:auto;
 
}



  img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}
