
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

body{
   display: flex;
   align-items: center;
}

.parent{
   min-height: 50vh;
   min-width: 100vh;
   padding: 8em;
   background:hsl(212,45%,89%);
   
    
}
  .parent .child{
 
 width: 300px;
 height:500px;
 border-radius: 1.125rem;
 background-color: white;
 text-align:center;
 padding: 1em;
 margin: 0 auto;
}
.child h2{
 font-family: 'Outfit';
 font-size: 22px;
 color: hsl(218, 44%, 22%);
 font-weight:700;
 padding: 0em;
 margin: 1.25em 0em 0em 0em;
}

.child p{
 font-family: 'Outfit';
 font-size:0.9375em;
 font-weight:400;
 color: hsl(220,15%,55%);
 padding: 0em;    
}

.child img{
  display: block;
  border-radius: 1.875em;
  max-width:100%;
  padding: 0em;
    
}
